@import '../../style/variables.scss';

.app {
    &__banner {
        width: 100%;
        height: 100px;
        background: $dark;
        display: grid;
        grid-template-columns: 152px auto 133px;
        column-gap: 85px;
        padding: 0 25px 0 45px;
        &-text {
            margin-top: 18px;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            color: #FFFFFF;
        }
    }
}